h1, h2 {
  font-family: Lato;
}

.app {
  display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    grid-gap: 10px;
    grid-auto-rows: minmax(180px, auto);
    grid-auto-flow: dense;
    padding: 10px;

}

.picture {
 padding: 1rem;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #929796;
    background-color: #333;
    border-radius: 5px;
    position: relative;
}

.pin {
  background-image: url(https://res.cloudinary.com/lazydayed/image/upload/v1553072946/thumb-tack-png_291485_gcmtdd.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 1rem;
  left: 47%;
  width: 18px;
  height: 18px;
}