@import url('https://fonts.googleapis.com/css?family=Caveat');

h1, h2 {
  background: white;
  margin: 1rem;
  padding: 1rem;
  border-radius: 3px;
}

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  background-image: url(https://res.cloudinary.com/lazydayed/image/upload/v1553020925/annieandadam/seamless-wood-texture-5.jpg);
  background-size: 100vw;
   font-family: 'Caveat', cursive;
}

.app {
  display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-gap: 10px;
    grid-auto-rows: minmax(180px, auto);
    grid-auto-flow: dense;
    padding: 10px;

}

.picture {
  margin: 1rem;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #333333;   
 
   
    position: relative;
}

.potrait {
    grid-row-end: span 2;    
}

.pic-inner {
  background-color: white;
  border-radius: 3px;  
  padding: 1rem;
  width: 100%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.picture  img {
  width: 100%;
}
.footer-label {
  text-align: center;
  background: white;

  padding: 1rem 0 0 0;
}

.pin {
  background-image: url(https://res.cloudinary.com/lazydayed/image/upload/v1553072946/thumb-tack-png_291485_gcmtdd.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0.6rem;
  left: 47%;
  width: 18px;
  height: 18px;
}
